@media (max-width: 991px)
    .advant
        &__text
            width: 230px

@media (max-width: 767px)
    .header
        &__logo
            width: 230px
    .button_main
        width: 230px
    .advant
        &__box
            font-size: 15px 
        &__text
            width: 190px
            font-size: 10px

@media (max-width: 575px)
    .promo
        width: 100%
        background: url(../../img/header/bgm.jpg) center center/cover no-repeat
        .header
            &__logo
                width: 175px
            &__official
                display: none
                span
                    font-size: 10px
            &__phone
                display: none
            .button
                display: none
        &__wrapper
            justify-content: center
            align-items: center
        &__header
            display: none
        &__subheader
            display: none
        &__icons
            display: none
        &__link
            display: none
        .button_main
            margin-top: 360px
            opacity: 0.5
                
    .advant
        &__wrapper
            display: flex
            flex-direction: column
            justify-content: center
            align-items: center