.advant
    min-height: 473px
    padding: 73px 0 65px 0
    background-color: #F6F6F6
    &__header
        color: #0D0D0D
        text-align: center
        font-size: 30px
        font-weight: 700
    &__wrapper
        display: flex
        justify-content: space-between
        margin-top: 65px
        color: #0D0D0D
        text-align: center
        font-size: 18px
        font-weight: 700
    &__icon
        margin-bottom: 30px
    &__text
        width: 273px
        margin-top: 20px
        color: #0D0D0D
        text-align: center
        font-size: 14px
        font-weight: 300
        a
            color: #F00
            font-size: 14px
            font-weight: 300
            line-height: 18px