.promo
    min-height: 650px
    padding: 21px 0 93px 0
    background: url(../../img/header/bg.jpg) center center/cover no-repeat
    &__wrapper
        display: flex
        flex-direction: column
        align-items: flex-end
        margin-top: 90px

    &__header
        color: #FFF
        text-align: right
        font-size: 42px
        font-weight: 700
        line-height: 42px
    &__subheader
        margin-top: 10px
        color: #FFF
        text-align: right
        font-size: 24px
        font-weight: 500
        line-height: 24px
    &__icons
        margin-top: 65px
        display: flex
        width: 424px
        height: 96px
        justify-content: space-around
        color: #FFF
        text-align: center
        font-size: 9px
        font-weight: 500
    &__icon
        width: 45px
        height: 42px

    &__link
        color: #FFF
        font-size: 16px
        font-weight: 500
        margin-top: 18px
        a
            color: #FFF
            font-size: 16px
            font-weight: 500